$text-preset-1-fontsize: 2em;
$text-preset-1-lineheight: 100%;
$text-preset-1-letterspacing: 0;
$text-preset-1-weight: 700;

$text-preset-2-fontsize: 0.875em;
$text-preset-2-lineheight: 110%;
$text-preset-2-letterspacing: 0;
$text-preset-2-weight: 700;

$text-preset-3-fontsize: 0.875em;
$text-preset-3-lineheight: 160%;
$text-preset-3-letterspacing: 0;
$text-preset-3-weight: 500;

$text-preset-4-fontsize: 0.75em;
$text-preset-4-lineheight: 120%;
$text-preset-4-letterspacing: 5px;
$text-preset-4-weight: 500;

$text-preset-5-fontsize: 0.8125em;
$text-preset-5-lineheight: 120%;
$text-preset-5-letterspacing: 0;
$text-preset-5-weight: 500;