@use "../utils/colors";
@use "../utils/fonts";

.prodcard__button {
    background-color: colors.$green;
    color: colors.$white;
    font-weight: fonts.$text-preset-2-weight;
    font-size: fonts.$text-preset-2-fontsize;
    letter-spacing: fonts.$text-preset-2-letterspacing;
    line-height: fonts.$text-preset-2-lineheight;
    width: 17.875em;
    border-radius: 0.5em;
    padding: 1em 2em;
    border: none;
    font-family: 'Montserrat';
    width: 100%;
}

.prodcard__buttonicon {
    padding-inline-end: 0.5em;
}

.prodcard__button:hover{
    background-color: colors.$forrest-green;
    cursor: pointer;
}